<h1>Sobre la App de Héroes</h1>
<hr>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea obcaecati porro praesentium. Alias,
  assumenda, at ea eius exercitationem expedita fugiat impedit ipsa nihil quae quaerat quasi, ratione recusandae tempora velit!
</p>
