<h1 *ngIf="(termino === undefined); else tituloBuscador">Héroes <small>Marvel && DC</small></h1>
<ng-template #tituloBuscador>
  <h1 #tituloBuscador>Buscando: <small>{{ termino }}</small></h1>
</ng-template>
<hr>
<div class="card-columns" *ngIf="(heroes.length > 0); else sinResultados">
  <app-heroe-tarjeta [heroe]="heroe" [idx]="(heroe.idx === undefined) ? i : heroe.idx " *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
</div>
<ng-template #sinResultados>
  <h3  > No hay resultados para estos términos "{{termino}}"</h3>
</ng-template>
